@media only screen and (min-width: 320px) {
  html {
    font-size: 10px !important;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 11.25px !important;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 12.5px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 640px) {
  html {
    font-size: 20px !important;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑";
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #fff;
  font-size: 0.8rem;
}
img {
  border: 0;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
i {
  font-style: normal;
}
.ui-tooltip {
  color: #666;
}
.ui-menu-item a {
  color: #666;
}
.ui-datepicker-today .ui-state-highlight {
  border: 1px solid #eee;
  color: #f60;
}
.ui-datepicker-current-day .ui-state-active {
  border: 1px solid #eee;
  color: #06f;
}
.titleColor {
  font-size: 0.7rem;
  color: #666;
}
.ui-datepicker-title {
  font-size: 0.7rem;
  color: #666;
}
header {
  width: 100%;
  height: 2rem;
  background: linear-gradient(#fff, #b5b5b5);
  position: fixed;
  top: 0;
}
header .header_main {
  width: 50rem;
  height: 2rem;
  margin: 0 auto;
}
header .header_main :after {
  clear: both;
  content: "";
  height: 0;
  visibility: hidden;
}
header .header_main h1 {
  font-size: 1rem;
  margin: 0;
  padding: 0 0.5rem;
  color: #666;
  line-height: 2rem;
  float: left;
}
header .header_main .header_search {
  float: left;
  padding-top: 0.3rem;
}
header .header_main .header_search .search {
  width: 16rem;
  height: 1.4rem;
  border: 1px solid #ccc;
  background: #fff;
  color: #666;
  font-size: 0.7rem;
  text-indent: 0.25rem;
}
header .header_main .header_button {
  padding: 0.25rem;
  float: left;
}
header .header_main .header_button #search_button,
header .header_main .header_button #question_button {
  font-size: 1rem;
}
header .header_main .header_button #search_button .ui-button-text,
header .header_main .header_button #question_button .ui-button-text {
  padding-top: 0;
  padding-bottom: 0;
}
header .header_main .header_member {
  float: right;
  height: 2rem;
  line-height: 2rem;
  width: 10rem;
  color: #555;
  font-size: 0.8rem;
}
header .header_main .header_member a {
  color: #555;
}
#reg {
  padding: 0.75rem;
}
#reg ol {
  padding: 0 0 0 1rem;
}
#reg ol li {
  height: 1rem;
  color: marroon;
}
#reg p {
  color: #666;
  margin: 0.5rem 0;
  padding: 0;
}
#reg p .succ {
  background: url("../image/sure.png") no-repeat left;
}
#reg p input {
  vertical-align: middle;
}
#reg p .star {
  color: #760000;
  font-size: 1rem;
  display: inline-block;
  width: 2rem;
  height: 1.25rem;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
#reg p span {
  font-size: 0.8rem;
}
#reg p label .text {
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 12rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-indent: 0.25rem;
  font-size: 0.8rem;
}
#login {
  padding: 0.75rem;
}
#login ol {
  padding: 0 0 0 1rem;
}
#login ol li {
  height: 1rem;
  color: marroon;
}
#login p {
  color: #666;
  margin: 0.5rem 0;
  padding: 0;
}
#login p #expires {
  margin: 0 0 0 7rem;
}
#login p .succ {
  background: url("../image/sure.png") no-repeat left;
}
#login p input {
  vertical-align: middle;
}
#login p .star {
  color: #760000;
  font-size: 1rem;
  display: inline-block;
  width: 2rem;
  height: 1.25rem;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
#login p span {
  font-size: 0.8rem;
}
#login p label .text {
  border-radius: 0.2rem;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 12rem;
  height: 1.25rem;
  line-height: 1.25rem;
  text-indent: 0.25rem;
  font-size: 0.8rem;
}
#loading {
  background: url("../image/loading.gif") no-repeat 1rem center;
}
#error,
#loading {
  background-size: 1rem;
  line-height: 1.25rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-indent: 2rem;
  color: #666;
  height: 2rem !important;
}
#question {
  box-sizing: content-box;
  background-size: 1rem;
  line-height: 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  color: #666;
}
#question p {
  padding-bottom: 1rem;
}
#question p input {
  width: 40rem;
}
#main {
  width: 50rem;
  margin: 2.5rem auto;
}
#main .main_left {
  width: 38rem;
  folat: left;
}
#main .main_right {
  width: 10rem;
  float: right;
}
#tabs {
  border: none;
  float: left;
  width: 38rem;
}
#tabs #ui-tabs-1,
#tabs #ui-tabs-2,
#tabs #ui-tabs-3 {
  border: 1px solid #aaa;
  border-top: none;
  position: relative;
  top: -2px;
}
